﻿@model SolvekEPayment.Models.ErpModels.InvoiceTitleModelResponse
@{
    ViewData["Title"] = "PaymentInvoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="page-title">Fatura Ödeme</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/Home/Index">Ana Menü</a></li>
                    <li class="breadcrumb-item active">Fatura Ödeme</li>
                </ol>
            </div>
        </div>
    </div>
</div>
@if (Model != null)
{
    @if (Convert.ToBoolean(TempData["result"]))
    {
        <div class="row">
            <div class="col-lg-12">
                <div class="card-box">
                    <div class="alert alert-danger fade show" role="alert">
                        @TempData["message"]
                        @*<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>*@
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {

    }
    <form action="/Payment/PaymentInvoice" method="post">
        <input type="text" id="documentNumber" value="@Model.documentNumber" name="documentNumber" hidden />
        <input type="text" id="id" value="@Model.id" name="id" hidden />
        <div class="row">
            <div class="col-lg-12">
                <div class="card-box">
                    <div class="table-responsive">
                        <table class="table table-bordered mb-0">
                            <thead>
                                <tr>
                                    <th>Tarih</th>
                                    <th>Belge No</th>
                                    <th>Tutar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Model.date</td>
                                    <td>@Model.documentNumber</td>
                                    <td>@($"{Model.total.ToString("N")} {Model.curName}")</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!-- end col -->
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card-box">
                    <div class="form-group">
                        <label class="col-xl-6 col-form-label">Ödenecek Tutar</label>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="mdi mdi-currency-try"></i></span>
                                </div>
                                <input type="hidden" id="tempPaymentTotal" name="tempPaymentTotal" value="@Model.total" />
                                <input type="text" class="form-control" placeholder="Tutar" aria-label="paymentTotal" id="paymentTotal" name="paymentTotal" aria-describedby="basic-addon1" maxlength="40">
                                <a class="btn btn-success" style="color:white; margin-left:15px;" id="paymentAll"> Tamamını Öde </a>
                            </div>
                            @*<br />
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i class="mdi mdi-pencil"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="İsteğe bağlı bir açıklama giriniz" aria-label="description" id="description" name="description" aria-describedby="basic-addon1" maxlength="80">
                                </div>*@
                        </div>
                    </div>
                </div>
            </div><!-- end col -->
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card-box">

                    <h4 class="header-title mt-0 mb-3">Ödeme Bilgileri</h4>
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label class="col-xl-6 col-form-label">Kart Sahibi</label>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="mdi mdi-account-box"></i></span>
                                </div>
                                <input type="text" name="holder" class="form-control" placeholder="Kart üzerindeki ad soyad" aria-label="holder" aria-describedby="basic-addon1" maxlength="40" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xl-6 col-form-label">Kart Numarası</label>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="mdi mdi-credit-card"></i></span>
                                </div>
                                <input type="text" name="pan" id="pan" class="form-control" placeholder="**** **** **** ****" aria-label="pan" aria-describedby="basic-addon1" maxlength="19" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xl-6 col-form-label">Son Kullanma Tarihi</label>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="mdi mdi-calendar-blank"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="MM/YY" aria-label="expire" name="expire" id="expire" aria-describedby="basic-addon1" maxlength="5" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xl-6 col-form-label">Güvenlik Kodu</label>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="mdi mdi-shield-lock"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="***" aria-label="cv" name="cv" id="cv" aria-describedby="basic-addon1" maxlength="3" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xl-6 col-form-label">Taksit Seçiniz</label>
                        <div class="col-md-6">
                            <select id="installment" name="installment" class="form-control">
                                <option value="-1">-- Seçiniz --</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group text-right mb-0">
                        <button class="btn btn-primary waves-effect waves-light mr-1" type="submit">
                            Ödemeyi Tamamla
                        </button>
                    </div>
                </div>
            </div><!-- end col -->
        </div>
    </form>
    <div class="row">
        <div class="col-lg-12">
            <div class="card-box">
                <img src="~/content/images/footer-logo-visa.png" style="margin-right:10px;" />
                <img src="~/content/images/footer-logo-mastercard.png" style="margin-right:10px;" />
                <img src="~/content/images/ssl_logo.png" style="margin-right:10px;" />
                <img src="~/content/images/footer-logo-3d.png" />
            </div>
        </div><!-- end col -->
    </div>
}
else
{
    <div class="authentication-bg">

        <div class="account-pages mt-5 mb-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card">

                            <div class="card-body p-4">

                                <div class="text-center">
                                    <h1 class="text-error">500</h1>
                                    <h3 class="mt-3 mb-2">Sonuç Alınamadı</h3>
                                    <p class="text-muted mb-3">
                                        Üzgünüz! Bir şeyler ters gitti. Sayfayı yenileyerek tekrar deneyin.
                                    </p>

                                    <a href="/Home/Index" class="btn btn-danger waves-effect waves-light"><i class="fas fa-home mr-1"></i> Geri Dön</a>
                                </div>


                            </div> <!-- end card-body -->
                        </div>
                        <!-- end card -->

                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
    </div>
}



@section Scripts{
    <script src="~/content/js/jquery.mask.js"></script>
    <script src="~/content/js/jquery.inputmask.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#pan').mask('0000 0000 0000 0000', {
                placeholder: '**** **** **** ****'
            });
            $('#expire').mask('00/00', {
                placeholder: 'MM/YY'
            });
            $('#cv').mask('000', {
                placeholder: '***'
            });
            $("#paymentTotal").inputmask("currency", {
                radixPoint: ",",
                groupSeparator: ".",
                digits: 2,
                autoGroup: true,
                rightAlign: false,
                prefix: ""
            });
        });

        $('#paymentAll').click(function () {
            $('#paymentTotal').val($('#tempPaymentTotal').val());
        });
    </script>
}
