﻿<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                2020 &copy; <a href="https://solvekyazilim.com/" target="_blank">Solvek Yazılım</a>
            </div>
            <div class="col-md-6">
                <div class="text-md-right footer-links d-none d-sm-block">
                    <a href="/Home/Privacy">İptal, İade ve Gizlilik Koşulları</a>
                    <a href="/Home/Contract">Hizmet Sözleşmesi</a>
                    <a href="https://www.uzmanlarelektrik.com/iletisim" target="_blank">İletişim</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end Footer -->
