﻿@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor httpContextaccessor
<!-- Navigation Bar-->
<header id="topnav" style="background-color: #186241;">

    <!-- Topbar Start -->
    <div class="navbar-custom">
        <div class="container-fluid">
            <ul class="list-unstyled topnav-menu float-right mb-0">

                <li class="dropdown notification-list">
                    <!-- Mobile menu toggle-->
                    <a class="navbar-toggle nav-link">
                        <div class="lines">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                    <!-- End mobile menu toggle-->
                </li>

                <li class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <span class="pro-user-name ml-1">
                            Hoşgeldiniz @httpContextaccessor.HttpContext.Request.Cookies["userName"]<i class="mdi mdi-chevron-down"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                        <!-- item-->

                        <!-- item-->
                        <a href="/ChangePassword/ChangePassword" class="dropdown-item notify-item">
                            <i class="fe-lock"></i>
                            <span>Şifre Değiştir</span>
                        </a>

                        <div class="dropdown-divider"></div>

                        <!-- item-->
                        <form action="/Login/Logout" method="get">
                            <button type="submit" class="dropdown-item notify-item">
                                <i class="fe-log-out"></i> Çıkış Yap
                            </button>
                        </form>
                    </div>
                </li>

            </ul>

            <!-- LOGO -->
            <div class="logo-box">
                <a href="/Home/Index" class="logo logo-light">
                    <span class="logo-lg">
                        <img src="~/content/images/applogo.png" alt="" height="24">
                    </span>
                    <span class="logo-sm">
                        <img src="~/content/images/applogo.png" alt="" height="64">
                    </span>
                </a>
                <a href="/Home/Index" class="logo logo-dark">
                    <span class="logo-lg">
                        <img src="~/content/images/applogo.png" alt="" height="24">
                    </span>
                    <span class="logo-sm">
                        <img src="~/content/images/applogo.png" alt="" height="64">
                    </span>
                </a>
            </div>

            <div class="clearfix"></div>
        </div> <!-- end container-fluid-->
    </div>
    <!-- end Topbar -->

    <div class="topbar-menu" style="background-color: #186241;">
        <div class="container-fluid">
            <div id="navigation" style="background-color: #186241;">
                <!-- Navigation Menu-->
                <ul class="navigation-menu">

                    <li class="has-submenu">
                        <a href="/Home/Index">Ana Menü</a>
                    </li>

                    <li class="has-submenu">
                        <a href="/Home/Privacy">İptal, İade ve Gizlilik Koşulları</a>
                    </li>

                    <li class="has-submenu">
                        <a href="/Home/Contract">Hizmet Sözleşmesi</a>
                    </li>

                    <li class="has-submenu">
                        <a href="/Home/CustomerReceiptDetail">Ödenmemiş Faturalarım</a>
                    </li>

                    <li class="has-submenu">
                        <a href="/Home/CustomerBalance">Ekstre</a>
                    </li>

                    <li class="has-submenu">
                        <a href="/Home/Contact">İletişim</a>
                    </li>
                </ul>
                <!-- End navigation menu -->

                <div class="clearfix"></div>
            </div>
            <!-- end #navigation -->
        </div>
        <!-- end container -->
    </div>
    <!-- end navbar-custom -->

</header>
<!-- End Navigation Bar-->
