﻿<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from coderthemes.com/adminto/layouts/horizontal/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 14 Jul 2020 14:09:42 GMT -->
<head>
    <meta charset="utf-8" />
    <title>Uzmanlar Online Tahsilat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/content/images/favicon.ico">

    <!-- Bootstrap Css -->
    <link href="~/content/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Icons Css -->
    <link href="~/content/css/icons.min.css" rel="stylesheet" />
    <!-- App Css-->
    <link href="~/content/css/app.min.css" rel="stylesheet" />

</head>

<body data-layout="horizontal" data-topbar="dark">

    <!-- Begin page -->
    <div id="wrapper">
        <input type="hidden" id="div_position" name="div_position" />
        <!-- Navigation Bar-->
        @Html.Partial("_Header")
        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">

                <!-- Start Content-->
                <div class="container-fluid">

                    @RenderBody()
                </div> <!-- container-fluid -->

            </div> <!-- content -->
            <!-- Footer Start -->
            @Html.Partial("_Footer")

        </div>
        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->
    </div>
    <!-- END wrapper -->
    <!-- /Right-bar -->
    <script src="~/content/js/jquery.min.js"></script>
    <script src="~/content/js/jquery-3.3.1.js"></script>
    <!-- Vendor js -->
    <script src="~/content/js/vendor.min.js"></script>

    <!-- knob plugin -->
    <script src="~/content/js/jquery.knob.min.js"></script>


    <!-- Dashboard init js-->
    <script src="~/content/js/dashboard.init.js"></script>

    <!-- App js -->
    <script src="~/content/js/app.min.js"></script>
    @*<script type="text/javascript">
        window.onload = function () {
            var div = document.getElementById("wrapper");
            var div_position = document.getElementById("div_position");
            var position = parseInt(div_position);
            if (isNaN(position)) {
                position = 0;
            }
            div.scrollTop = position;
            div.onscroll = function () {
                div_position.value = div.scrollTop;
            };
        };
    </script>*@
    @RenderSection("styles", false)
    @RenderSection("Scripts", required: false)

</body>

</html>