﻿@model SolvekEPayment.Models.MessageModelResponse
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form action="/ChangePassword/ChangePassword" method="post">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="page-title">Şifre Değiştir</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="/Home/Index">Ana Menü</a></li>
                        <li class="breadcrumb-item active">Şifre Değiştir</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    @if (Model != null)
    {
        @if (!Model.result)
        {
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-box">
                        <div class="alert alert-danger fade show" role="alert">
                            @Model.message
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-box">
                        <div class="alert alert-success fade show" role="alert">
                            @Model.message
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    <div class="row">
        <div class="col-lg-12">
            <div class="card-box">

                <h4 class="header-title mt-0 mb-3">Şifre Değiştir</h4>

                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label class="col-xl-6 col-form-label">Kullanıcı Adı</label>
                    <div class="col-md-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="mdi mdi-account-box"></i></span>
                            </div>
                            <input type="text" name="userName" class="form-control" placeholder="Cari kodunuz" aria-label="userName" aria-describedby="basic-addon1" value="@ViewData["userName"]" maxlength="40" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xl-6 col-form-label">Şifre</label>
                    <div class="col-md-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="mdi mdi-account-key"></i></span>
                            </div>
                            <input type="password" name="password" id="pan" class="form-control" placeholder="Şifre" aria-label="password" aria-describedby="basic-addon1" value="@ViewData["password"]" maxlength="40" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xl-6 col-form-label">Şifre Tekrar</label>
                    <div class="col-md-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="mdi mdi-account-key"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="Şifre tekrar" aria-label="passwordAgain" name="passwordAgain" id="passwordAgain" aria-describedby="basic-addon1" value="@ViewData["passwordAgain"]" maxlength="40" required>
                        </div>
                    </div>
                </div>

                <div class="form-group text-right mb-0">
                    <button class="btn btn-primary waves-effect waves-light mr-1" type="submit">
                        Kaydet
                    </button>
                </div>
            </div>
        </div><!-- end col -->
    </div>
</form>