﻿
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="page-title">İletişim</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/Home/Index">Ana Menü</a></li>
                    <li class="breadcrumb-item active">İletişim</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card card-body">
            <h4 class="card-title" style="font-size:15px;">Uzmanlar Elk. Paz. San. ve Tic. Ltd. Şti.</h4>
            <p class="card-text">
                <strong>Adres</strong><br />
                Emekyemez Mahallesi - Okçumusa Caddesi - Şahlan Han No:34/A Beyoğlu/İstanbul
                <br /><br />

                <strong>Telefon</strong><br />
                0(212) 256 5200 - 0(212) 238 2233
                <br /><br />

                <strong>Fax</strong><br />
                0(212) 297 4687
                <br /><br />

                <strong>E-Posta</strong><br />
                info@uzmanlarelektrik.com.tr
                <br /><br />
            </p>
        </div>
    </div>
</div>

