﻿
@{
    ViewData["Title"] = "Contract";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="page-title">Hizmet Sözleşmesi</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/Home/Index">Ana Menü</a></li>
                    <li class="breadcrumb-item active">Hizmet Sözleşmesi</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card card-body">
            <h4 class="card-title" style="font-size:15px;">Hizmet Sözleşmesi</h4>
            <p class="card-text">
                <strong>Kullanım Şartları</strong><br />
                http://odeme.uzmanlarelektrik.com.tr/ web sitesine hoş geldiniz.

                Bu web sitesinde sunulan hizmetlerin kullanım şartlarını, sitemize üye olarak veya hizmetlerimizden yararlanma aşamasında, bu sözleşmeyi kabul ettiğinizi beyan eden kutucuğu işaretleyerek kabul etmiş oluyorsunuz. http://odeme.uzmanlarelektrik.com.tr/ web sitesinde bulunan hizmetlerde kullanım özellik ve şartlarında önceden bir bildirimde bulunmaksızın, herhangi bir zamanda değişiklik
                yapma, yürürlükten kaldırma ve güncelleme haklarını saklı tutar.
                <br /><br />

                <strong>Garanti ve Feragat</strong><br />
                http://odeme.uzmanlarelektrik.com.tr/ ve sizin aranızda yapılan ayrı bir sözleşme ile açıkça belirlenmediği sürece, bu web sitesinden edinilen bütün hizmetler size olduğu haliyle sağlanmış olup, herhangi bir amaca uygunluk açısından veya başka bir açıdan herhangi bir garantiye tabi değildir.
                http://odeme.uzmanlarelektrik.com.tr/ hiçbir şekilde tarafınız veya başka bir üçüncü kişi tarafından bu web sitesine erişimden, bu web sitesinin veya bu web sitesinden linkle yönlendirilmiş başka bir web sitesine erişimden veya bu web sitesinde yer alan hizmetlerin kullanımı vasıtasıyla uğranılmış dolaysız veya dolaylı bir zarardan, gelir veya veri kaybından veya başka bir zarardan sorumlu değildir.
                <br /><br />
                Bu web sitesi üçüncü kişiler tarafından sağlanmış içerik veya yazılımlar bulunmaktadır. Bu web sitesinde yer alan bütün üçüncü kişilere ait içerik ve yazılımlar için de yukarıda yer alan “GARANTİ VE FERAGAT” bölümü hükümleri geçerlidir.
            </p>
        </div>
    </div>
</div>
<!-- end row -->
