﻿
@{
    ViewData["Title"] = "CustomerReceiptDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/content/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/content/css/responsive.bootstrap4.css" rel="stylesheet" />
    <link href="~/content/css/buttons.bootstrap4.css" rel="stylesheet" />
    <link href="~/content/css/select.bootstrap4.css" rel="stylesheet" />
    <link href="~/content/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/content/css/daterangepicker.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="page-title">Ödenmemiş Faturalarım</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/Home/Index">Ana Menü</a></li>
                    <li class="breadcrumb-item active">Ödenmemiş Faturalarım</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card-box">
            <h4 class="mt-0 header-title">Ödenmemiş Faturalar Listesi</h4>

            <table id="tableCustomerReceiptDetail" class="table table-bordered dt-responsive nowrap" style="width: 100%">
                <thead>
                    <tr>
                        <th>Tarih</th>
                        <th>Belge No</th>
                        <th>Fatura Tutarı</th>
                        <th>Kalan</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Tarih</th>
                        <th>Belge No</th>
                        <th>Fatura Tutarı</th>
                        <th>Kalan</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/content/js/jquery.dataTables.min.js"></script>
    <script src="~/content/js/dataTables.bootstrap4.js"></script>
    <script src="~/content/js/dataTables.responsive.min.js"></script>
    <script src="~/content/js/responsive.bootstrap4.min.js"></script>
    <script src="~/content/js/datatables.init.js"></script>
    <script>
        var tableCustomerReceiptDetail = null;
        $(document).ready(function () {
            tableCustomerReceiptDetail = $('#tableCustomerReceiptDetail').DataTable({
                "responsive": true,
                "searching": false,
                "scrollX": true,
                "ordering": false,
                "paging": false,
                "processing": true,
                "serverSide": true,
                "destroy": true,
                "ajax": {
                    "url": "/Home/CustomerReceiptDetailList",
                    "type": "POST",
                    "dataType": "json",
                    "data": function (d) {
                        for (var i = 0, len = d.columns.length; i < len; i++) {
                            delete d.columns[i];
                        }
                        delete d.search.regex;
                    }
                },
                "columns": [
                    { "data": "date" },
                    { "data": "documentNumber" },
                    {
                        "data": "total",
                        "sortable": false,
                        "render": function (data, type, row) {
                            return Number(row["total"]).toLocaleString('tr-TR', {
                                maximumFractionDigits: 2,
                                style: 'currency',
                                currency: 'TRY'
                            });
                        }
                    },
                    {
                        "data": "remainTotal",
                        "sortable": false,
                        "render": function (data, type, row) {
                            return Number(row["remainTotal"]).toLocaleString('tr-TR', {
                                maximumFractionDigits: 2,
                                style: 'currency',
                                currency: 'TRY'
                            });
                        }
                    }
                ],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
                }
            });
        });
    </script>
}

