﻿@{
    ViewData["Title"] = "CustomerBalance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/content/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/content/css/responsive.bootstrap4.css" rel="stylesheet" />
    <link href="~/content/css/buttons.bootstrap4.css" rel="stylesheet" />
    <link href="~/content/css/select.bootstrap4.css" rel="stylesheet" />
    <link href="~/content/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/content/css/daterangepicker.css" rel="stylesheet" />
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="page-title">Ekstre</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/Home/Index">Ana Menü</a></li>
                    <li class="breadcrumb-item active">Ekstre</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card-box">

            <h4 class="header-title mt-0 mb-3">Filtre</h4>

            <div class="row">
                <div class="col-xl-6">

                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label">Tarih Aralığı</label>
                        <div class="col-sm-6">
                            <input type="date" id="startDate" class="form-control" required />
                        </div>
                        <div class="col-sm-6">
                            <input type="date" id="endDate" class="form-control" required />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label">Evrak Numarası</label>
                        <div class="col-sm-6">
                            <input type="text" id="searchStr" class="form-control" placeholder="Evrak Numarası" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-lg-12">
                            <button id="btnSearch" class="btn btn-primary waves-effect waves-light mr-1 pull-right">
                                Ara
                            </button>
                        </div>
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->
        </div>
    </div><!-- end col -->
</div>
<!-- end row -->

<div class="row">
    <div class="col-lg-12">
        <div class="card-box">
            <h4 class="mt-0 header-title">Ekstre Listesi</h4>

            <table id="tableCustomerBalance" class="table table-bordered dt-responsive nowrap" style="width: 100%">
                <thead>
                    <tr>
                        <th>Tarih</th>
                        <th>Belge No</th>
                        <th>Açıklama</th>
                        <th>Borç</th>
                        <th>Alacak</th>
                        <th>Bakiye</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/content/js/jquery.dataTables.min.js"></script>
    <script src="~/content/js/dataTables.bootstrap4.js"></script>
    <script src="~/content/js/dataTables.responsive.min.js"></script>
    <script src="~/content/js/responsive.bootstrap4.min.js"></script>
    <script src="~/content/js/datatables.init.js"></script>
    <script>
        var tableCustomerBalance = null;
        $(document).ready(function () {
            loadTable();
        });

        $('#btnSearch').on('click', function (e) {
            loadTable();
        });

        function loadTable() {
            if (tableCustomerBalance != null) {
                tableCustomerBalance.clear().draw();
            }
            tableCustomerBalance = $('#tableCustomerBalance').DataTable({
                "responsive": true,
                "searching": false,
                "bPaginate": false,
                "scrollX": true,
                "ordering": false,
                "processing": true,
                "serverSide": true,
                "destroy": true,
                "ajax": {
                    "url": "/Home/CustomerBalanceList",
                    "type": "POST",
                    "dataType": "json",
                    "data": function (d) {
                        for (var i = 0, len = d.columns.length; i < len; i++) {
                            delete d.columns[i];
                        }
                        delete d.search.regex;

                        d.startDate = $('[id*=startDate]').val();
                        d.endDate = $('[id*=endDate]').val();
                        d.searchStr = $('[id*=searchStr]').val();
                    }
                },
                "columns": [
                    { "data": "date" },
                    { "data": "documentNumber" },
                    { "data": "type" },
                    {
                        "data": "debit",
                        "sortable": false,
                        "render": function (data, type, row) {
                            return Number(row["debit"]).toLocaleString('tr-TR', {
                                maximumFractionDigits: 2,
                                style: 'currency',
                                currency: 'TRY'
                            });
                        }
                    },
                    {
                        "data": "credit",
                        "sortable": false,
                        "render": function (data, type, row) {
                            return Number(row["credit"]).toLocaleString('tr-TR', {
                                maximumFractionDigits: 2,
                                style: 'currency',
                                currency: 'TRY'
                            });
                        }
                    },
                    {
                        "data": "total",
                        "sortable": false,
                        "render": function (data, type, row) {
                            return Number(row["total"]).toLocaleString('tr-TR', {
                                maximumFractionDigits: 2,
                                style: 'currency',
                                currency: 'TRY'
                            });
                        }
                    },
                ],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
                }
            });
        }
    </script>
}

