﻿@model SolvekEPayment.Models.ErpModels.CustomerBalanceTotalModelResponse
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="/Home/Index" method="post">
    @*<form asp-controller="Payment" data-ajax-url="/PaymentRequset" data-ajax="true" method="post" data-ajax-mode="replace" data-ajax-begin="onBegin" data-ajax-failure="onFailure" data-ajax-success="onSuccess">
    *@

    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="page-title">Ana Menü</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="/Home/Index">Uzmanlar Online Tahsilat</a></li>
                        <li class="breadcrumb-item active">Ana Menü</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    @if (Convert.ToBoolean(TempData["result"]))
    {
        <div class="row">
            <div class="col-lg-12">
                <div class="card-box">
                    <div class="alert alert-danger fade show" role="alert">
                        @TempData["message"]
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {

    }
    @await Component.InvokeAsync("CustomerBalanceTotalComponent")

    <div class="row">
        <div class="col-lg-12">
            <div class="card-box">
                <div class="form-group">
                    <label class="col-xl-6 col-form-label">Ödenecek Tutar</label>
                    <div class="col-md-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="mdi mdi-currency-try"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Tutar" aria-label="paymentTotal" id="paymentTotal" name="paymentTotal" aria-describedby="basic-addon1" maxlength="40">
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end col -->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card-box">

                <h4 class="header-title mt-0 mb-3">Ödeme Bilgileri</h4>

                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label class="col-xl-6 col-form-label">Kart Sahibi</label>
                    <div class="col-md-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="mdi mdi-account-box"></i></span>
                            </div>
                            <input type="text" name="holder" class="form-control" placeholder="Kart üzerindeki ad soyad" aria-label="holder" aria-describedby="basic-addon1" maxlength="40" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xl-6 col-form-label">Kart Numarası</label>
                    <div class="col-md-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="mdi mdi-credit-card"></i></span>
                            </div>
                            <input type="text" name="pan" id="pan" class="form-control" placeholder="**** **** **** ****" aria-label="pan" aria-describedby="basic-addon1" maxlength="19" required>
                            <img src="~/content/images/mastercard.png" id="master" width="48" style="margin-left:5px; display: none;" />
                            <img src="~/content/images/visa.png" width="48" id="visa" style="margin-left:5px; display: none;" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xl-6 col-form-label">Son Kullanma Tarihi</label>
                    <div class="col-md-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="mdi mdi-calendar-blank"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="MM/YY" aria-label="expire" name="expire" id="expire" aria-describedby="basic-addon1" maxlength="5" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xl-6 col-form-label">Güvenlik Kodu</label>
                    <div class="col-md-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="mdi mdi-shield-lock"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="***" aria-label="cv" name="cv" id="cv" aria-describedby="basic-addon1" maxlength="3" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xl-6 col-form-label">Banka Seçiniz</label>
                    <div class="col-md-6">
                        <select id="bankId" name="bankId" class="form-control">
                            <option value="-1">-- Seçiniz --</option>
                            <option value="1">Akbank</option>
                            <option value="2">Halkbank</option>
                            <option value="3">Teb Bankası</option>
                            <option value="4">İş Bankası</option>
                            <option value="5">Vakıfbank</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xl-6 col-form-label">Kartınızın Tipini Seçiniz</label>
                    <div class="col-md-6">
                        <select id="cardId" name="cardId" class="form-control">
                            <option value="-1">-- Seçiniz --</option>
                            <option value="1">Akbank - Axess</option>
                            <option value="2">Garanti - Bonus</option>
                            <option value="3">Finansbank - Cardfinans</option>
                            <option value="4">İşbank - Maximum</option>
                            <option value="5">Halbank - Paraf</option>
                            <option value="6">Vakıfbank - World</option>
                            <option value="7">Ziraat Bankası - Combo</option>
                            <option value="0">Diğer</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" id="installmentMenu" >
                    <label class="col-xl-6 col-form-label">Taksit Seçiniz</label>
                    <div class="col-md-6">
                        <select id="installment" name="installment" class="form-control">
                            <option value="-1">-- Seçiniz --</option>
                            @await Component.InvokeAsync("InstallmentComponent")
                        </select>
                    </div>
                </div>

                <div class="form-group text-right mb-0">
                    <button class="btn btn-primary waves-effect waves-light mr-1" type="submit" id="btnPayment">
                        Ödemeyi Tamamla
                    </button>
                </div>
            </div>
        </div><!-- end col -->
    </div>
</form>

<div class="row">
    <div class="col-lg-12">
        <div class="card-box">
            <img src="~/content/images/footer-logo-visa.png" style="margin-right:10px;" />
            <img src="~/content/images/footer-logo-mastercard.png" style="margin-right:10px;" />
            <img src="~/content/images/ssl_logo.png" style="margin-right:10px;" />
            <img src="~/content/images/footer-logo-3d.png" style="margin-right:10px;" />
            <img src="~/content/images/troy.jpg" />
        </div>
    </div><!-- end col -->
</div>


@section Scripts{
    <script src="~/content/js/jquery.mask.js"></script>
    <script src="~/content/js/jquery.inputmask.bundle.min.js"></script>
    <script src="~/content/js/homeindex.js"></script>
}
