﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OkUrl</title>
    <link href="~/content/css/okurlstyle.css" rel="stylesheet" />
</head>
<body>
    <center style="margin-top: 15%;">
        <div class="loader">
        </div>
        <h3>Lütfen bekleyin..</h3>
    </center>
</body>
</html>
