﻿@model SolvekEPayment.Dtos.AppDtos.PaymentDto
@{
    ViewData["Title"] = "PaymentFail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Başarısız | Uzmanlar Online Tahsilat Sistemi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <link href="~/content/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Bootstrap Css -->
    <!-- Icons Css -->
    <link href="~/content/css/icons.min.css" rel="stylesheet" />
    <!-- App Css-->
    <link href="~/content/css/app.min.css" rel="stylesheet" />
</head>

<body class="authentication-bg">
    <div class="account-pages mt-5 mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="text-center">
                        <a href="index.html" class="logo">
                            <img src="~/content/images/close.png" alt="" height="128" class="logo-light mx-auto">
                            <img src="~/content/images/close.png" alt="" height="128" class="logo-dark mx-auto">
                        </a>
                    </div>
                    <br />
                    <div class="card">

                        <div class="card-body p-4">

                            <div class="text-center">
                                <h2 class="mt-3 mb-2">İşlem başarısız.</h2>
                                @if (Model == null)
                                {
                                    <p class="text-muted mb-3">
                                        Üzgünüz! Bir şeyler ters gitti.
                                    </p>

                                }
                                else
                                {
                                    <p class="text-muted mb-3">
                                        @Model.message
                                    </p>
                                }

                                <a href="/Home/Index" class="btn btn-danger waves-effect waves-light"><i class="fas fa-home mr-1"></i> Ana Sayfaya Dön</a>
                            </div>


                        </div> <!-- end card-body -->
                    </div>
                    <!-- end card -->

                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->
    <!-- Vendor js -->
    <script src="~/content/js/vendor.min.js"></script>
    <script src="~/content/js/app.min.js"></script>

</body>

</html>

