﻿
@{
    ViewData["Title"] = "Privacy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="page-title">İptal, İade ve Gizlilik Koşulları</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/Home/Index">Ana Menü</a></li>
                    <li class="breadcrumb-item active">İptal, İade ve Gizlilik Koşulları</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card card-body">
            <h4 class="card-title" style="font-size:15px;">İptal/İade Koşulları ve Gizlilik</h4>
            <p class="card-text">
                <strong>İptal İade Şartları</strong><br />
                Online tahsilat sisteminden 3d veya sanal pos ile yapılan tahsilatlarda itiraz süreci 3 iş günüdür. Kart sahibinin tarafımıza iade talebinde bulunmasından 10 iş günü içerisinde firmamız tarafından değerlendirme yapıp müşteriye bilgi verilecektir.
                <br /><br />

                <strong>Kişisel Bilgi Güvenliği</strong><br />
                http://odeme.uzmanlarelektrik.com.tr/ müşterilerinden üyelik ve alışveriş sırasında alınan tüm kişisel bilgiler mevcut en yüksek elektronik ve fiziksel güvenlik sistemleriyle korunmakta, sadece yetki sahibi personel ve gerekli durumlarda kullanıcı onayı ile görüntülenebilecek bir ortamda saklanmaktadır. Bu bilgiler yalnızca Türkiye Cumhuriyeti kanunları ve uluslararası kanunlar çerçevesinde kullanılmaktadır..
                Kişisel bilgilerin kullanıcı onayı olmaksızın hiçbir şekilde açıklanmaması,yayınlanmaması,üçüncü şahıslarla paylaşılmaması firmamız tarafından taahhüt ve garanti edilmiştir.
                http://odeme.uzmanlarelektrik.com.tr/ kişisel bilgilerin dışındaki genel kullanıcı bilgilerini kullanıcı onayı verildiği takdirde ;bilgilendirme, tanıtım, duyuru ve teklif amacıyla kullanma haklarını saklı tutar.
                <br /><br />

                <strong>Ödeme Bilgileri Güvenliği</strong><br />
                http://odeme.uzmanlarelektrik.com.tr/ bünyesinde oluşturulmuş olan online güvenlik departmanı;ilk kez alışveriş yapacak olan müşterilerimizin kimlik ve adres bilgilerinin kontrolünü yaparak,gerekli durumlarda müşterilerle telefonla irtibata geçerek kredi kartı sahtekarlığı gibi yasal olmayan kullanımları önlemek için önlem almaktadır.
                http://odeme.uzmanlarelektrik.com.tr/ 256bit güvenlik sertifikasına sahiptir. http://odeme.uzmanlarelektrik.com.tr/ dan yapılan alışverişlerde verilen kredi kartı bilgileri siteden bağımsız olarak Globalsign tarafından sağlanan 256bit SSL şifreleme protokolü kullanılarak anlaşmalalı bankaların sistemine aktarılır ve banka tarafından sorgulama işlemi yapılır.Sorgulma sonucu anında müşteriye iletilir ve ödeme işlemi tamamlanır.Girilmiş olan kart bilgileri direk olatak bankaya iletilmekte ; tüm işlemler müşteri ve banka arasında gerçekleşmektedir.Bu bilgiler hiçbir şekilde site tarafından görüntülenemediği ve kaydedilmediği için bilgilerin üçüncü şahısların eline geçmesi mümkün değildir..
                Ödeme sayfasının sağ alt köşesinde bulunan kilit resmi sayfanın SSL ile şifrelenerek güvenlik altına alındığını göstermektedir.
                <br /><br />

                <strong>Güvenlik Uyarısı</strong><br />
                Kredi kartı bilgilerinin çalınması gibi durumlar büyük çoğunlukla fiziki ortamlarda gerçekleşmektedir.Bu nedenle restoran vb. yerlerde kredi kartlarının kullanılması veya kart numarasının başkalarına verilmesi tavsiye edilmemektedir.
                Kredi kartının çalınması,kaybolması veya izinsiz kullanıldığının fark edilmesi gibi durumlarda zaman kaybedilmeksizin kartın ait olduğu banka ile irtibata geçilmeli ve durum bildirilmelidir.
                http://odeme.uzmanlarelektrik.com.tr/ tarafından tespit edilen kredi kartı sahtekarlığı durumlarında ilgili banka ve kart sahibi durum hakkında bilgilendirilmektedir.
                İnternet üzerinden yapılan alışverişlerde alışveriş yapılan sitenin adres ve telefon bilgilerinin doğruluğundan emin olunmalı, gerekirse sitedeki müşteri hizmetleri numarası aranarak doğrulama yapılmalıdır.
                <br /><br />
                İş bu sözleşmeden doğabilecek tüm uyuşmazlıkların giderilmesinde İl merkez mahkemeleri ve icra daireleri yetkilidir.
            </p>
        </div>
    </div>
</div>
<!-- end row -->
