﻿@model SolvekEPayment.Models.ErpModels.CustomerBalanceTotalModelResponse

    <div class="row">
        <div class="col-12">
            <div class="card text-center">
                <div class="card-header">
                    Toplam Bakiye
                </div>
                <div class="card-body">
                    <h5 class="card-title" style="font-size: 20px;">@(Model == null ? "0,00 TL" : $"{Model.total.ToString("N")} {Model.curName}")</h5>
                </div>
            </div>
        </div>
    </div>