﻿@model SolvekEPayment.Models.ErpModels.InvoiceTitleModelResponse
@if (Model != null)
{
    <input type="text" id="documentNumber" value="@Model.documentNumber" name="documentNumber" hidden />
    <input type="hidden" id="tempPaymentTotal" name="tempPaymentTotal" value="@Model.id" />
    <input type="hidden" id="id" name="id" value="@Model.total" />
    <div class="row">
        <div class="col-lg-12">
            <div class="card-box">
                <div class="table-responsive">
                    <table class="table table-bordered mb-0">
                        <thead>
                            <tr>
                                <th>Tarih</th>
                                <th>Belge No</th>
                                <th>Tutar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Model.date</td>
                                <td>@Model.documentNumber</td>
                                <td>@($"{Model.total.ToString("N")} {Model.curName}")</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!-- end col -->
    </div>
}
else
{
    <div class="row">
        <div class="col-lg-12">
            <div class="card-box">
                <div class="alert alert-danger fade show" role="alert">
                    Fatura bilgisi alınamadı. İşleme devam edilemez. Lütfen sayfayı yenileyerek tekrar deneyin.
                </div>
            </div>
        </div>
    </div>
}

