﻿@model SolvekEPayment.Dtos.AppDtos.ForgotDto
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Şifremi Unuttum | Uzmanlar Online Tahsilat Sistemi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/content/images/favicon.ico">

    <!-- Bootstrap Css -->
    <link href="~/content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/content/css/icons.min.css" rel="stylesheet" />
    <link href="~/content/css/app.min.css" rel="stylesheet" />
</head>
<body class="authentication-bg">

    <div class="account-pages mt-5 mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="text-center">
                        <a href="#" class="logo">
                            <img src="~/content/images/logo.png" alt="" height="60" class="logo-light mx-auto">
                            <img src="~/content/images/logo.png" alt="" height="60" class="logo-dark mx-auto">
                        </a>
                        <p class="text-muted mt-2 mb-4" style="font-size: 20px;"><strong>Online Tahsilat Sistemi</strong></p>
                    </div>
                    <div class="card">

                        <div class="card-body p-4">

                            <div class="text-center mb-4">
                                <h4 class="text-uppercase mt-0 mb-3">ŞİFREMİ UNUTTUM</h4>
                                <p class="text-muted mb-0 font-13">Kullanıcı adınızı girin ve size şifrenizi içeren bir e-posta gönderelim.  </p>
                            </div>

                            <form asp-controller="Login" data-ajax-url="/ForgotSend" data-ajax="true" method="post" data-ajax-mode="replace" data-ajax-failure="onFailure" data-ajax-success="onSuccess">
                                @Html.AntiForgeryToken()
                                <div class="form-group mb-3">
                                    <label for="emailaddress">Kullanıcı Adı</label>
                                    @Html.TextBoxFor(u => u.userName, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.userName), @name = "userName", @type = "text" })
                                    @Html.ValidationMessageFor(v => v.userName)
                                </div>

                                <div class="form-group mb-0 text-center">
                                    <button class="btn btn-primary btn-block" type="submit"> Gönder </button>
                                </div>
                            </form>

                        </div> <!-- end card-body -->
                    </div>
                    <!-- end card -->

                    <div class="row mt-3">
                        <div class="col-12 text-center">
                            <p class="text-muted"><a href="/Login/Login" class="text-dark ml-1"><b>Giriş</b></a> ekranına dön.</p>
                        </div> <!-- end col -->
                    </div>
                    <!-- end row -->

                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>

    <script src="~/content/js/jquery.min.js"></script>
    <script src="~/content/js/jquery-3.3.1.js"></script>
    <script src="~/content/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/content/js/jquery.validate.min.js"></script>
    <script src="~/content/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/content/js/vendor.min.js"></script>
    <script src="~/content/js/app.min.js"></script>
    <script src="~/content/js/sweetalert2.all.min.js"></script>
    <script>
        onSuccess = function (result) {
            if (result.result) {
                Swal.fire({
                    icon: 'success',
                    title: result.message,
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                    confirmButtonText: 'Tamam'
                }).then((result) => {
                    if (result.value) {
                        location.reload();
                    }
                });
            } else {
                Swal.fire({
                    icon: 'error',
                    title: result.message,
                    confirmButtonText: 'Tamam'
                });
            }
        };
        onFailure = function () {
            Swal.fire({
                icon: 'error',
                title: 'Üzgünüz! bir şeyler ters gitti. Lütfen tekrar deneyin.',
                confirmButtonText: 'Tamam'
            });
        };
    </script>
</body>
</html>
