﻿@model SolvekEPayment.Dtos.AppDtos.LoginDto
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from coderthemes.com/adminto/layouts/horizontal/pages-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 14 Jul 2020 14:11:05 GMT -->
<head>
    <meta charset="utf-8" />
    <title>Giriş | Uzmanlar Online Tahsilat Sistemi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/content/images/favicon.ico">

    <!-- Bootstrap Css -->
    <link href="~/content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/content/css/icons.min.css" rel="stylesheet" />
    <link href="~/content/css/app.min.css" rel="stylesheet" />

</head>


<body class="authentication-bg">

    <div class="account-pages mt-5 mb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="text-center">
                        <a href="#" class="logo">
                            <img src="~/content/images/logo.png" alt="" height="60" class="logo-light mx-auto">
                            <img src="~/content/images/logo.png" alt="" height="60" class="logo-dark mx-auto">
                        </a>
                        <p class="text-muted mt-2 mb-4" style="font-size: 20px;"><strong>Online Tahsilat Sistemi</strong></p>
                    </div>
                    <div class="card">

                        <div class="card-body p-4">

                            <div class="text-center mb-4">
                                <h4 class="text-muted mt-0">Giriş Yap</h4>
                            </div>

                            <form action="/Login/Login" method="post">
                                @Html.AntiForgeryToken()
                                <div class="container">
                                    <div class="form-group mb-3">
                                        <label for="emailaddress">Kullanıcı Adı</label>
                                        @Html.TextBoxFor(u => u.userName, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.userName), @name = "userName", @type = "text" })
                                        @Html.ValidationMessageFor(v => v.userName)
                                    </div>

                                    <div class="form-group mb-3">
                                        <label for="password">Şifre</label>
                                        @Html.TextBoxFor(u => u.password, new { @class = "form-control", @placeholder = Html.DisplayNameFor(x => x.password), @name = "password", @type = "password" })
                                        @Html.ValidationMessageFor(v => v.password)
                                    </div>

                                    <div class="col-12" id="loginMessage">
                                        <p class="login-box-msg" style="color: red;">@ViewData["error"]</p>
                                    </div>

                                    <div class="form-group mb-0 text-center">
                                        <button class="btn btn-primary btn-block" type="submit"> Giriş Yap </button>
                                    </div>
                                </div>
                            </form>

                        </div> <!-- end card-body -->
                    </div>
                    <!-- end card -->

                    <div class="row mt-3">
                        <div class="col-12 text-center">
                            <p> <a href="/Login/Forgot" class="text-muted ml-1"><i class="fa fa-lock mr-1"></i>Şifremi Unuttum?</a></p>
                        </div> <!-- end col -->
                    </div>
                    <!-- end row -->

                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->
    <script src="~/content/js/jquery.min.js"></script>
    <script src="~/content/js/jquery.validate.min.js"></script>
    <script src="~/content/js/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/content/js/vendor.min.js"></script>
    <script src="~/content/js/app.min.js"></script>
</body>
</html>